---
import astroLogo from '../../assets/astro.svg';
import { Menu } from 'lucide-react';

// UI Components  //
import LanguageToggle from '../ui/LanguageToggle';
import ThemeToggle from '../ui/ThemeToggle';

import '../../styles/global.css'; // Global styles

// Dinamic Routes  //
import { getDefaultLang } from '../../i18n/utils/i18n';

const url = new URL(Astro.url);
const path = url.pathname.split('/');
let lang = path[1];

if (!lang || lang.length !== 2) {
  lang = getDefaultLang();
}

// i18n Settings (props) //
export interface Props {
  texts: {
    [key: string]: string;
  }
}

const { texts } = Astro.props;

---
<header>
  <nav class="max-w-6xl mx-auto px-4 py-4 flex items-center justify-between">
    <a href={`/${lang}/home`} class="flex items-center space-x-2">
      <img src={astroLogo.src} alt="Homepage" class="h-6" />
      <span class="font-bold text-lg">Imperio Pools</span>
    </a>

    <!-- Botón hamburguesa -->
    <button id="menu-toggle" class="md:hidden text-2xl focus:outline-none">
      <Menu color='white' />
    </button>

    <!-- Navegación Desktop -->
    <ul id="nav-menu" class="hidden md:flex space-x-6 font-medium">
      <li><a href={`/${lang}/gallery`} class="hover:underline">{texts.nav2}</a></li>
      <li><a href={`/${lang}/services`} class="hover:underline">{texts.nav3}</a></li>
      <li><a href={`/${lang}/get-quote/form?s=renovation`} class="hover:underline mr-4">{texts.nav4}</a></li>
      <LanguageToggle client:load />
      <ThemeToggle client:load />
    </ul>
  </nav>

  <!-- Navegacion Mobile  -->
  <ul id="mobile-menu"
  class="md:hidden fixed right-0 w-full bg-red-400 px-4 py-4 text-white font-medium space-y-2 text-right flex flex-col items-end">
    <li><a href={`/${lang}/home`} class="block hover:underline">{texts.nav1}</a></li>
    <li><a href={`/${lang}/gallery`} class="block hover:underline">{texts.nav2}</a></li>
    <li><a href={`/${lang}/services`} class="block hover:underline">{texts.nav3}</a></li>
    <li><a href={`/${lang}/get-quote/form?s=renovation`} class="block hover:underline">{texts.nav4}</a></li>
  </ul>

  <!-- Script para el botón hamburguesa -->
  <script type="module" is:inline>
    const toggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('mobile-menu');

    toggle.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  </script>

</header>