---
import astroLogo from '../../assets/Imagotipo.svg?url';
import { Menu } from 'lucide-react';

import '../../styles/global.css'

// UI Components  //
import LanguageToggle from '../ui/LanguageToggle';
import ThemeToggle from '../ui/ThemeToggle';

// i18n Settings (props) //
import { getLangFromUrl, getStaticPaths } from '../../i18n/utils/i18n';
import { navTexts as enNavTexts } from '../../i18n/en/nav';
import { navTexts as esNavTexts } from '../../i18n/es/nav';

export { getStaticPaths };

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);

const navTextsByLang = {
  en: enNavTexts,
  es: esNavTexts,
};

export interface Props {
  lang: string;
}

const texts = navTextsByLang[lang] || enNavTexts;
---

<header>
  <nav class="max-w-6xl mx-auto px-4 py-4 flex items-center justify-between">
    <a href={`/${lang}/home`} class="flex items-center space-x-2">
      <img src={astroLogo} alt="Homepage" class="h-6" />
      <span class="font-bold text-lg">Imperio Pools</span>
    </a>

    <!-- Botón hamburguesa -->
    <button id="menu-toggle" class="md:hidden text-2xl focus:outline-none">
      <Menu color='white' />
    </button>

    <!-- Navegación Desktop -->
    <ul id="desk-menu" class="hidden md:flex font-bold">
      <li><a href={`/${lang}/gallery`} > {texts.nav2} </a></li>
      <li><a href={`/${lang}/services`} > {texts.nav3} </a></li>
      <li><a href={`/${lang}/get-quote/form`} > {texts.nav4} </a></li>
      <LanguageToggle client:load />
      <ThemeToggle client:load />
    </ul>
  </nav>

  <!-- Navegacion Mobile  -->
  <ul id="mobile-menu" class="fixed transform translate-x-full transition-all duration-500 ease-in-out" >
    <li><a href={`/${lang}/home`} > {texts.nav1} </a></li>
    <li><a href={`/${lang}/gallery`} > {texts.nav2} </a></li>
    <li><a href={`/${lang}/services`} > {texts.nav3} </a></li>
    <li><a href={`/${lang}/get-quote/form?s=renovation`} > {texts.nav4} </a></li>
    <li class="flex items-center justify-end space-x-2 pt-5">
      <p class="pr-2">
        {lang === 'en' ? 'Language: ' : 'Idioma: '}
      </p>
      <LanguageToggle client:load />
    </li>
    <li class="flex items-center justify-end space-x-2">
      <p class="pr-2">
        {lang === 'en' ? 'Appearance: ' : 'Tema: '}
      </p>
      <ThemeToggle client:load />
    </li>
  </ul>

  <!-- Script para el botón hamburguesa -->
  <script type="module" is:inline>
    const toggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('mobile-menu');

    toggle.addEventListener('click', () => {
      menu.classList.toggle("translate-x-full");
      menu.classList.toggle("translate-x-0");
    });
  </script>

</header>