---
import Layout from '../../../layouts/Layout.astro';

import '../../../styles/global.css';

// i18n Settings  //
import { getLangFromUrl, getStaticPaths } from '../../../i18n/utils/i18n';
import { servicesTexts as enServicesTexts } from '../../../i18n/en/services';
import { servicesTexts as esServicesTexts } from '../../../i18n/es/services';
import Header from '../../../components/layout/Header.astro';
import { ChevronRight } from 'lucide-react';
import { Button } from '../../../components/ui/Button';

export { getStaticPaths };

const url = new URL(Astro.url);
const lang = getLangFromUrl(url);

const servicesTextsByLang = {
    en: enServicesTexts,
    es: esServicesTexts,
};
const texts = servicesTextsByLang[lang] || enServicesTexts;
const servicesAPI = servicesTextsByLang[lang].services;

export const prerender = true
---

<Layout>
  <head>
    <title> {texts.title} </title>
  </head>
  <Header lang={lang} />
  <section class="w-full pt-20 px-4 max-w-7xl mx-auto">

    <h2
      class="global-section-text mb-8 text-center"
      transition:name="title-services"
    >
      {texts.subtitle}
    </h2>
    <!-- breadcrumb -->
    <div class="breadcrumb">
      <span> Services </span>
      <ChevronRight className="mx-2 h-6" />
    </div>

    <div class="grid gap-8 md:grid-cols-2">
    { 
      servicesAPI.map((service) => (
        <div class="group relative flex flex-col md:h-48 md:flex-row items-stretch dark:bg-light/10 bg-dark/10 rounded-2xl overflow-hidden shadow-sm hover:shadow-lg transition duration-300">
          <!-- Image -->
          <div class="relative aspect-[3/2] w-full md:w-1/2 overflow-hidden md:group-hover:w-32 transition-all duration-300">
            <img
              src={service.image}
              alt={service.title}
              class="absolute inset-0 h-full object-cover group-hover:scale-125 group-hover:brightness-110 group-hover:opacity-90
              transition-all duration-300"
            />
          </div>

          <!-- Content -->
          <div class="relative flex flex-1 flex-col p-4">
            <div>
              <h3 
              class="text-xl font-medium mb-2 w-full 
              md:absolute md:inset-x-4 md:top-1/2 md:-translate-y-1/2
              group-hover:md:top-4 group-hover:md:translate-y-0
              transition-all duration-300"
              transition:name={service.id}
            >
              {service.title}
              </h3>
              <p
                class="text-mutted line-clamp-3 md:opacity-0 group-hover:opacity-100
                md:absolute md:inset-x-4 md:top-12
                transition-opacity duration-300"
              >
              {service.description}
              </p>
            </div>
            <div 
              class="absolute bottom-4 right-4 transform hover:translate-x-2
              md:opacity-0 group-hover:opacity-100
              transition duration-300"
            >
              <Button
                variant='primary'
                href={`/${lang}/services/${service.id}`}
                text="Learn more →"
              />
            </div>
          </div>

        </div>
      ))
    }
    </div>

  </section>
</Layout>