---
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/layout/Header.astro';
import HorizontalCard from '../../../components/ui/CardHorizontal.astro';
import Footer from '../../../components/layout/Footer';

import '../../../styles/global.css';
import { ChevronRight } from 'lucide-react';

// i18n Settings  //
import { getLangFromUrl, getStaticPaths } from '../../../i18n/utils/i18n';
import { servicesTexts as enServicesTexts } from '../../../i18n/en/services';
import { servicesTexts as esServicesTexts } from '../../../i18n/es/services';

export { getStaticPaths };

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);

const servicesTextsByLang = {
    en: enServicesTexts,
    es: esServicesTexts,
};
const texts = servicesTextsByLang[lang] || enServicesTexts;
const servicesAPI = servicesTextsByLang[lang].services;

export const prerender = true
---

<Layout>
  <head>
    <title> {texts.title} </title>
  </head>
  <Header lang={lang} />
  <section class="w-full pt-20 px-2 max-w-7xl mx-auto">

    <h2
      class="global-section-text mb-8 text-center"
      transition:name="title-services"
    >
      {texts.subtitle}
    </h2>
    <!-- breadcrumb -->
    <div class="breadcrumb">
      <span> Services </span>
      <ChevronRight className="mx-2 h-6" />
    </div>

    <div class="grid gap-8 md:grid-cols-2">
    { servicesAPI.map((service) => (
        <HorizontalCard 
          id={service.id}
          image={service.image}
          title={service.title}
          description={service.description}
          lang={lang}
        />
      )) }
    </div>

  </section>
  <Footer client:load />
</Layout>