---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header';
import Footer from '../../components/layout/Footer';

import '../../styles/global.css';
import { Tag, ChevronRight } from 'lucide-react';

// Gallery filter //
import GalleryGrid from '../../components/ui/galleryGrid';
import { getMediaByFilter, getMediaCategories } from "../../lib/mediaAPI";

const url = new URL(Astro.request.url);
const filter = url.searchParams.get('f') || "default";
const media = getMediaByFilter(filter);
const categories = getMediaCategories();
const activeFilter = url.searchParams.get('f') ?? "default";

// i18n Settings  //
import { useLang } from '../../hooks/useLang';
import { useLangPageTexts } from '../../hooks/useLangPageText';
import { getStaticPaths } from '../../i18n/utils/i18n';
import { galleryTexts as enGalleryTexts } from '../../i18n/en/gallery';
import { galleryTexts as esGalleryTexts } from '../../i18n/es/gallery';
import type { LangTypes } from '../../i18n/utils/types';
import { Button } from '../../components/ui/Button';
import Dropdown from '../../components/ui/Dropdown';

export { getStaticPaths };

const galleryTextsByLang = {
    en: enGalleryTexts,
    es: esGalleryTexts,
};

const texts = useLangPageTexts<LangTypes>(Astro, galleryTextsByLang);
const lang = useLang(Astro);

export const prerender = false;
---

<Layout lang="{lang}">
  <head>
      <title>{` ${texts.title} ${ filter === filter ? filter.replace(/-/g, " ").split(" ").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ") : 'All' } - Imperio Pools`}</title>
  </head>
  <Header client:load lang={lang} />

  <section class="w-full pt-20 mb-4 max-w-7xl mx-auto grid md:grid-cols-[240px_1fr] gap-8">
    <aside class="flex flex-col">
    <!-- breadcrumb -->
      <div class="breadcrumb">
        <span> {lang === 'en' ? 'Gallery' : 'Galería'} </span>
        <ChevronRight className="mx-2 h-6" />
        <Dropdown categories={categories} filter={filter} lang={lang} client:load />
      </div>
      <!-- ✅ Content Table -->
      <div class="w-full flex-grow px-4 rounded-2xl dark:bg-light/10 bg-dark/20 space-y-2 hidden md:block">
        <h3 class="global-subheading my-3 pt-2"> Content Table </h3>
        <ul class="space-y-1 pb-6">
          {categories.map(cat => (
            <li>
              <a 
                href={`/${lang}/gallery?f=${cat}`} 
                class={`flex items-center rounded hover:bg-gray-100 ${
                  cat === activeFilter ? 'font-bold text-blue-600' : 'global-text'
                }`}
              >
                <Tag className="mr-2 h-4 flex-shrink-0"/>
                <span class="truncate flex-shrink min-w-0">
                  {cat.replace("and", "&").replace(/-/g, " ").split(" ").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ")}
                </span>
              </a>
            </li>
          ))}
        </ul>
      </div>
    </aside>

  <!-- ✅ Item content -->
  <div class=" flex flex-col space-y-4">
    <h2 class="global-section-text mb-8 text-center">
      { filter === filter ? filter.replace(/-/g, " ").split(" ").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ") : 'All' } <!-- metodo Title Case -->
    </h2>
    <!-- Content -->
    <GalleryGrid images={media} client:load/>
    <!-- CTA -->
    <div class="flex gap-8 md:mx-0 mx-4 items-center">
      <Button
        variant='mutted_sm'
        href={filter === 'latest-jobs' ? `/${lang}/services` : `/${lang}/services/${filter}`}
        text={lang === 'en' ? 'Learn More' : 'Más Información'}
      />
      <Button
        variant='primary_sm'
        classAditional='flex-grow'
        href={`/${lang}/get-quote/form?s=${filter}`}
        text={lang === 'en' ? 'Get a Free Stimate Now →' : 'Obtener una Cotización Gratis →'}
      />
    </div>
  </div>

  </section>
  <Footer client:load lang={lang}/>
</Layout>