---
import Header from '../../components/layout/Header.astro';
import Hero from '../../components/sections/Home/Hero.astro';
import About from '../../components/sections/Home/About.astro';
import Services from '../../components/sections/Home/Services';
import Cta from '../../components/sections/Home/Cta.astro';
import Footer from '../../components/layout/Footer';
import Layout from '../../layouts/Layout.astro';

import '../../styles/global.css';

// i18n Settings  //
import { useLang } from '../../hooks/useLang';
import { useLangPageTexts } from '../../hooks/useLangPageText';
import { useTranslations } from '../../hooks/useTranslations';
import { getStaticPaths } from '../../i18n/utils/i18n';
import { homeTexts as enHomeTexts } from '../../i18n/en/home';
import { homeTexts as esHomeTexts } from '../../i18n/es/home';
import type { LangTypes } from '../../i18n/utils/types';
export { getStaticPaths };

export interface Props {
    lang: string;
}

const homeTextsByLang = {
  en: enHomeTexts,
  es: esHomeTexts,
};

// if (!(lang in homeTextsByLang)) {
//    lang = getDefaultLang();
// }

const texts = useLangPageTexts<LangTypes>(Astro, homeTextsByLang);
const lang = useLang(Astro);
const t = useTranslations(texts);
void lang,t;
---

<Layout>
  <head>
    <title>{t('title')}</title>
  </head>
  <Header client:load lang={lang} />
  <Hero texts={texts.hero} />
  <About texts={texts.about} />

  <section class="py-16 bg-blue-600/50 flex flex-col items-center justify-center">
    <a href="services">
      <h2
        class="global-section-text mb-8"
        transition:name="title-services"
      >
        {texts.title_services}
      </h2>
    </a>
    <Services client:load lang={lang} />
  </section>

  <Cta texts={texts.cta} />
  <Footer client:load />
</Layout>