---
import Layout from "../../layouts/Layout.astro";
import { Button } from "./Button";

const { id, image, title, description, lang } = Astro.props;
---

<Layout>
  <div class="group relative flex flex-col md:h-48
    md:flex-row items-stretch dark:bg-light/10
    bg-dark/10 rounded-2xl overflow-hidden shadow-sm
    hover:shadow-lg transition duration-300"
  >
    {/* Image */}
    <div class="relative aspect-[3/2] w-full
    md:w-1/2 overflow-hidden md:group-hover:w-32
    transition-all duration-300">
      <img
        src={image}
        alt={title}
        class="absolute inset-0 h-full
        object-cover group-hover:scale-125
        group-hover:brightness-110 group-hover:opacity-90
        transition-all duration-300"
      />
    </div>

    {/* Content */}
    <div class="relative block md:flex md:flex-1 md:flex-col p-4">
      <div class="text-center md:text-left">
        <h3
          class="text-xl font-medium mb-2 w-full
          md:absolute md:inset-x-4 md:top-1/2
          md:-translate-y-1/2 group-hover:md:top-4
          group-hover:md:translate-y-0
          text-primary dark:text-primary-dm
          transition-all duration-300"
          transition:name={id}
        >
          {title}
        </h3>
        <p
          class="text-mutted line-clamp-3
          md:opacity-0 group-hover:opacity-100
          md:absolute md:inset-x-4 md:top-12
          transition-opacity duration-300"
        >
          {description}
        </p>
      </div>
      <div class="md:absolute md:bottom-4 md:right-4 transform
      hover:translate-x-2 mt-4
      md:opacity-0 group-hover:opacity-100
      transition duration-300">
        <Button
          variant="primary_sm"
          href={`/${lang}/services/${id}`}
          text="View details →"
        />
      </div>
    </div>

  </div>
</Layout>
